@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fefefc;
    --border: #e5e5e5;

    --header: 255, 255, 255;
    --card: 254, 254, 252;
    --foreground: 41, 41, 41;

    --light-blue: #e4e9f0;
    --dark-blue: #3a5185;

    --light-grey: #b8c1c7;
    --dark-grey: #5f687b;

    --earthy: #92937d;
    --muted-gold: #c69851;
  }
}
